<script>
      renderMathInElement(
          document.getElementById("your post id"),
          {
              delimiters: [
                  {left: "$$", right: "$$", display: false},
                  {left: "\\[", right: "\\]", display: true},
                  {left: "$", right: "$", display: true},
                  {left: "\\(", right: "\\)", display: false}
              ]
          }
      );
</script>

---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>
